extends header.pug

block appContent
    div#ballot-div
        form#info-form
            h3 Voter Information
            label(for="lrn") LRN: 
                input(type="text" name="lrn")
            br
            label(for="fullName") Full Name: 
                input(type="text" name="fullName")
            br
            label(for="gradeLevel") Grade Level: 
                input(type="number" name="gradeLevel" min="7" max="12" value="7")
            br
            label(for="section") Section: 
                input(type="text" name="section")
        hr

        form#vote-form
            -var positions = election.positions;
            -var candidates = election.candidates;
            each position in positions
                h3= position.name
                -var inputType = "radio"
                -if(position.winnerQty > 1){inputType = "checkbox"}

                each candidate in candidates
                    if(candidate.position.name == position.name)
                        label= candidate.name
                            input(type=inputType name=position.name value=candidate.id)
                        br
        button#ballot-submit-button Submit

    script(src="/scripts/vote-jq.js" type='text/javascript')